ul {
    padding-left: 0;
    margin: 0;
}

ul::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

li {
    margin: 15px 0;
    list-style-type: none;
}

.information li, .contact li {
    float: left;
    padding: 0 2% 0 0;
}

h3, p {
    margin: 0;

}